            <li role="presentation" class="dropdown first-menu">
                <a role="button" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="true">后台管理<span class="caret"></span></a>

             <!--   <ul class="dropdown-menu multi-level second-menu" role="menu">
                    <foreach name="risk_menu" item="cat_item" key="cat_key"> 
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="javascript:void(0);"><{$cat_item['name']}></a>
                        <ul class="dropdown-menu thrid-menu">
                          <?php $count = 0;?>
                          <foreach name="cat_item['child']" item="type_item" key="type_key">
                             <?php $count ++ ;?>
                             <li><a tabindex="-1" href="/risk/add.html?menu_cat=<{$cat_key}>&menu_type=<{$type_key}>"><{$type_item}></a></li>
                             <if condition="$count neq count($cat_item['child'])">
                                 <li class="divider"></li>
                             </if>                          
                          </foreach>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    </foreach>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="javascript:void(0);">机车质量跟踪系统填报</a>
                        <ul class="dropdown-menu thrid-menu">
                        
                             <li><a tabindex="-1" href="/locomotive/add.html">机车质量跟踪系统填报</a></li>
                             <li class="divider"></li>
                        
                             <li><a tabindex="-1" href="/locomotive/live6.html">机统6活项填写</a></li>
                             <li class="divider"></li>
                             <li><a tabindex="-1" href="/locomotive/live28.html">机统28活项填写</a></li>
                        </ul>
                    </li>
                </ul>-->

            </li>
