<extend name="Base:master" />

<block name="title"><title>风险处置列表 -- 过程控制</title></block>

<block name="content">
<div id="breadcrumb">
 <ol class="breadcrumb">
  <li><a href="/handle/aduit.html">过程控制</a></li>
  <li class="active">落实销号</li>
 </ol>    
</div>

<p class="page-title">风险处置列表</p>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
       <th> 提报时间</th>
       <th> 提报部门</th>
       <th> 提报平台</th>
       <th> 责任部门</th>
       <th> 问题状态</th>
       <th> 逾期状态</th>
       <th> 风险概述</th>
       <th> 风险详述</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <foreach name="pagedList['data_list']" item="item">
    <tr>
        <td><{:date("Y-m-d H:i:s", $item['create_time'])}></td>
        <td style="width:150px;"><{$dicLists[$allTypes['department']][$item['from_dept_id']]['name']}></td>
        <td style="width:100px;"><{$risk_menu[$item['menu_cat']]['child'][$item['menu_type']]}></td>
        <td style="width:100px;"><{$dicLists[$allTypes['department']][$item['resp_dept_id']]['name']}></td>
        <td style="width:100px;"><if condition="2 == $item['deal_status']">已处置<else/>未处置</if></td>
        <td>
            <?php $outtime = time() - $item['audit_time'] - 7 * 86400;?>
            <if condition="$outtime gt 0">已逾期<else/>未逾期</if>
        </td>
        <td><{$dicLists[$allTypes['risk_item']][$item['risk_outline_id']]['name']}></td>
        <td><{$item['risk_detail']}></td>
        <td><a href="/handle/destroyShow.html?id=<{$item['id']}>">处置</a></td>
    </tr>
    </foreach>
  </tbody>
</table>

<include file="Base/pager" />
</block>
