<extend name="Base:master" />

<block name="title"><title>地域分析 -- 数据分析预警 -- 研判预警</title></block>
<block name="header">
    <link href="/Public/static/vendor/timepicker/css/timepicker.css" rel="stylesheet">
</block>

<block name="content">
    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/analyse/supervise.html">研判预警</a></li>
            <li><a href="/analyse/source.html">数据分析预警</a></li>
            <li class="active">地域分析</li>
        </ol>    
    </div>

    <div class="inline-form">
        <form id="query-form" class="form-inline">
            <div class="form-group">
                <label for="type">统计方式</label>
                <select name="type" class="form-control" id="type">
                    <foreach item="text" key="value" name="types">
                        <option value="<{$value}>" <if condition="$value eq $type">selected="selected"</if>><{$text}></option>
                    </foreach>
                </select>
            </div> 
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="start_time">时间</label>
                <input type="text" class="form-control" id="start_time" name="start_time" value="<{:date("Y-m-d", $startTime)}>">
                       <label for="end_time">至</label>
                <input type="text" class="form-control" id="end_time" name="end_time" value="<{:date("Y-m-d", $endTime)}>">
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-md form-control" value="查询" />
            </div>
        </form>
        <hr/>
    </div>

    <p class="page-title"><{:date("Y年m月d日", $startTime)}>至<{:date("Y年m月d日", $endTime)}>安全风险问题<{$source}></p>

    <div class="analyse_div"> 
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>站1</th>
                    <th>站2</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
            <foreach name="data" item="item">
                <tr>
                    <td><{$stationData[$item['start']]['name']}></td>
                    <td><{$stationData[$item['end']]['name']}></td>
                    <td><{$item['count']}></td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>
</block>

<block name="footer">
    <script src="/Public/static/vendor/timepicker/js/timepicker.js"></script>
    <script>
        $(function() {
            $('#start_time').datepicker({format: 'yyyy-mm-dd', changeMonth: true, changeYear: true});
            $('#end_time').datepicker({format: 'yyyy-mm-dd', changeMonth: true, changeYear: true});
        })
    </script>
</block>
