<extend name="Base:master" />

<block name="title"><title>来源分析 -- 数据分析预警 -- 研判预警</title></block>
<block name="header">
    <link href="/Public/static/vendor/timepicker/css/timepicker.css" rel="stylesheet">
</block>

<block name="content">
    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/analyse/supervise.html">研判预警</a></li>
            <li><a href="/analyse/source.html">数据分析预警</a></li>
            <li class="active">来源分析</li>
        </ol>    
    </div>

    <div class="inline-form">
        <form id="query-form" class="form-inline">
            <div class="form-group">
                <label for="type">统计方式</label>
                <select name="type" class="form-control" id="type">
                    <option value="1">提报平台</option>
                    <option value="2" selected="selected">提报部门</option>
                </select>
            </div> 
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="start_time">时间</label>
                <input type="text" class="form-control" id="start_time" name="start_time" value="<{:date("Y-m-d", $startTime)}>">
                       <label for="end_time">至</label>
                <input type="text" class="form-control" id="end_time" name="end_time" value="<{:date("Y-m-d", $endTime)}>">
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-md form-control" value="查询" />
            </div>
        </form>
        <hr/>
    </div>

    <php>unset($levelData['level_1']);</php>
    <p class="page-title"><{:date("Y年m月d日", $startTime)}>至<{:date("Y年m月d日", $endTime)}>安全风险问题提报部门分析</p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>提报部门</th>
        <foreach name="levelData" key="levelKey" item="levelItem">
            <th><{$levelItem['name']}></th>
        </foreach>
        <th>合计</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="data" key="deptId" item="deptItem">
            <tr>
                <td><{$deptData[$deptId]['name']}></td>
            <foreach name="levelData" key="levelKey" item="levelItem">
                <td>
                    <{$deptItem[$levelItem['id']]}>
                <assign name="colStat[$levelKey]" value="$colStat[$levelKey] + $deptItem[$levelItem['id']]" />
                </td>
            </foreach>
            <td><{:array_sum($deptItem)}></td>
            </tr>
        </foreach>
        <tr>
            <td>合计</td>
        <foreach name="levelData" key="levelKey" item="levelItem"> 
            <td><{$colStat[$levelKey]}></td>
        </foreach>
        <td><{:array_sum($colStat)}></td>
        </tr>
        </tbody>
    </table>
</block>

<block name="footer">
    <script src="/Public/static/vendor/timepicker/js/timepicker.js"></script>
    <script>
        $(function() {
            $('#start_time').datepicker({format: 'yyyy-mm-dd', changeMonth: true, changeYear: true});
            $('#end_time').datepicker({format: 'yyyy-mm-dd', changeMonth: true, changeYear: true});
        })
    </script>
</block>
