<extend name="Base:master" />

<block name="content">
<div class="container-fluid service-project">
<div class="container">
    <div class="row"><p class="perfect-circle red-white">B</p></div>
    <div class="row"><p class="title-zh color-red">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-gray">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    

<div class="container-fluid good-case">
<div class="container">
    <div class="row"><p class="perfect-circle white-red">B</p></div>
    <div class="row"><p class="title-zh color-white">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-white">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    

<div class="container-fluid recom-teacher">
<div class="container">
    <div class="row"><p class="perfect-circle red-white">B</p></div>
    <div class="row"><p class="title-zh color-red">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-gray">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    

<div class="container-fluid coop-partner">
<div class="container">
    <div class="row"><p class="perfect-circle white-red">B</p></div>
    <div class="row"><p class="title-zh color-white">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-white">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    

<div class="container-fluid recom-teacher">
<div class="container">
    <div class="row"><p class="perfect-circle red-white">B</p></div>
    <div class="row"><p class="title-zh color-red">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-gray">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    

<div class="container-fluid service-line">
<div class="container">
    <div class="row"><p class="perfect-circle black-white">B</p></div>
    <div class="row"><p class="title-zh color-white">中国企业培训第一品牌</p></div>
    <div class="row"><p class="title-en color-white">BRAND COURSE</p></div>
    <div class="row">T</div>
</div>
</div>    
</block>
