            <li role="presentation" class="first-menu">
                <a href="/index/index.html">系统首页</span></a>
            </li>
            <li role="presentation" class="dropdown first-menu">
                <a role="button" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="true">基础管理<span class="caret"></span></a>

                <ul class="dropdown-menu multi-level second-menu" role="menu">
                    <li>
                        <a tabindex="-1" href="/basicManage/rule.html">技术规章</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="/basicManage/standard.html">企业标准</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="/basicManage/measures.html">制度措施</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="/basicManage/accident.html">典型事故</a>
                    </li>
                </ul>

            </li>
