* {
    margin:0px; 
    padding:0px; 
    font-family:'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.container-fluid, .navbar, .navbar-brand {
    margin:0px;
    padding:0px;
}

.navbar-header, .navbar-right {
    margin:15px 0px;
}

.navbar-text {
    font-size:16px;
    font-weight:blod;
    color:rgb(71, 70, 70);
}

.navbar-text:hover {
    color: #da3715; 
    text-decoration: none;
}

.navbar-text.active {
    color: #da3715; 
    border-bottom: 3px solid #f8694c;
}

.footer {
    padding:30px 0px;
    text-align: center;
    background-color:#2E2E2E;
}

.footer .menu-link, .footer .weichat {
    font-size:14px;
    color:#FFFFFF;
}

.footer .page-link {
    font-size:14px;
    color: #949494;
}           

.footer .page-link:hover {
    color:#FFFFFF;
}
