<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<{:get_assets_url('css_bootstrap')}>" rel="stylesheet">
    <title>历史预测</title>
  </head>

  <body>
    <div class="container" style="padding-top:30px;"> 
        <p><a href="/lottery/show">新增预测</a></p>
        <foreach name="list" item="item">
        <p><a href="/lottery/show?batch_num=<{$item['batch_num']}>"><{$item['batch_num']}></a></p>
        </foreach>
    </div>

    <!--[if lt IE 9]>
      <script src="<{:get_assets_url('js_html5shiv')}>"></script>
      <script src="<{:get_assets_url('js_respond')}>"></script>
    <![endif]-->
    <script src="<{:get_assets_url('js_jquery')}>"></script>
    <script src="<{:get_assets_url('js_bootstrap')}>"></script>
  </body>

</html>
